<h1> Hi, <%= @user.name %>! </h1>

<h2>
	Welcome to DoneDeal!
</h2>

<p>
	You are now a member.

	Go ahead and post your first job or browse the map of available jobs.

	If you have any questions, email us at dan@donedealapp.co
</p>