<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="contact"><br><br><br>

<h2 class="fp">
	Contact
</h2><br>

<h4 class="fp">
	If you have any questions or comments please reach out to us at <a href="mailto:dan@donedealapp.com"><strong class="done">dan@donedealapp.co</strong></a>. 
	<br><br>
	Thanks!
</h4>

</div>


</body>
</html>
