<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="contact"><br><br><br>

<h2>
	Contact
</h2><br>

<h4>
	If you have any questions or comments please reach out to us at <a href="#"><strong class="done">hello@donedeal.co</strong></a>. 
	<br><br>
	Thanks!
</h4>

</div>


</body>
</html>
