<!DOCTYPE html>
<html>
<head>
	<title>DoneDeal - Local Services Marketplace</title>
</head>

<body>
	<div class="background">
		<div class="content"><br><br><br><br><br>
			<div>
				<h1>Welcome to <strong class="done">Done</strong><strong class="deal">Deal</strong></h1><br><br>
			</div>
				<h2>We're a local services marketplace.</h2><br>
					<h3>Our goal is to connect local professionals with people seeking their services.</h3><br>
					<!-- if not logged in, show header asking new user to register -->
						<% unless current_user %>
						<h3>Start by clicking the <strong class="done">Register</strong> button in the top left!</h3>
						<% end %>			
					<!-- if user logged in, say hi and show buttons to post job and view jobs -->
					<% if current_user %>
	  				<h3> Hey <%= current_user.name %>! </h3>
					<div>
						<%= link_to "Post new job", new_user_job_path(current_user), class: "btn btn-success home-btn" %>
						<a class="btn btn-success home-btn" href="/jobs">All Open Jobs</a>
					</div>
					<% end %>
		</div>
	</div>
		<div class="how"><br>
			<h3> How DoneDeal Works </h3><br>
			<h4>1 - Tell us what you'd like to accomplish. We want to help you succeed.</h4><br> 
				<h6>This could be anything from "I need help moving, learning Spanish, making a web site, teach me how to work out"...or anything in between.</h6> <br><br>
			<h4>2- Post your job on our interface. Locals will see your post and respond.</h4><br>
				<h6>If your need is digital, then people from all over the world can see it. You can then negotiate a fair price.</h6><br>
			<h4>3 - Hire the right person for the job.</h4><br>
				<h6>Accomplish your goals. Rinse and repeat.</h6>
			<br>
			<br>
		</div>
<footer><br><br>
  <h4>Made with &hearts; at Ironhack by Daniel Hoffens </h4>
<br><br>
</footer>
</body>
</html>