<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" type="text/css" href="styles.css">
 -->	<title>Completely - Task Executor</title>
</head>

<body>

	<% if current_user %>
  		<h3> Hey <%= current_user.name %>! </h3>
	<% end %>
	<div class="background-img-pen">
	<h1>Welcome to <strong>Completely</strong></h1>	
		<h3>We're a local services marketplace. </h3>
			<h4>
				Our goal is to connect local professionals with those that require their services.
			</h4>
				<% if current_user %>
				<div>
					<form>
						<%= link_to "Post new job", new_user_job_path(current_user), class: "btn btn-success home-btn" %>
						<%= link_to "View open jobs", user_jobs_path(current_user), class: "btn btn-success home-btn" %>
					</form>
				</div>
				<% end %>
	</div>
					<hr>
				<div class="how">
					<h3> How Completely Works </h3>
					<h4> 1 - Tell us what you'd like to accomplish. We want to help you succeed. <br> 
						<small>
							This could be anything from "I need help moving, to I need to learn Spanish, to teach me how to work out"...or anything in between.
						</small><br><br>
						2- Post your job on our interface. Locals will see your post and respond. <br>
						<small>
							If your need is digital, then people from all over the world can see it. You can then negotiate a fair price.
						</small><br><br>
						3 - Hire the right person for the job. <br>
						<small>Accomplish your goals. Rinse and repeat.</small>
					</h4>
				</div>
					<hr>
<footer>
  Made with &hearts; at Ironhack 
</footer>
<br>
<hr>
<br>
<br>
</body>
</html>