<div class="purpose"><br><br><br>
	
	<h2>
		Purpose
	</h2><br>

		<div>

			<h4>
			Completely was built to aid professionals in finding local opportunites.<br><br> 
			We believe that everyone has a talent or unique skillset that someone may at some require.<br><br> 
			We'd like to bring the two together. 
			</h4>

		</div>

</div>
