<!DOCTYPE html>
<html>
<head>
	<title>DoneDeal - Purpose</title>
</head>
<body>

<div class="purpose"><br><br><br>
	<h2>
		Purpose
	</h2><br>
		<div>
			<h4>
			<div>
			DoneDeal was built with 2 goals in mind: <br><br>
			First, to aid regular people that are looking for someone to help them finish a task. <br><br>
			Second, to help professionals find local opportunities to grow their business. <br><br>
			</div>
			<br>
			<div>
			We believe that everyone has a skillset that someone might require, the term 'professional' is not meant to be exclusive.<br><br> 
			We'd like to bring those that can perform with those that need their talents.<br><br>
			</div>
			<br>
			<div>
			We realize that we are not the first in this space, but our competitors are too focused on labeling each task as 'chores' or 'housework',<br><br> where as we just want to focus on finding others that can help us succeed. <br><br>
			We want to have a clean, simple and elegant solution to find, communicate with, and eventually pay these professionals, <br><br>on a 'contractor' basis - one time payments for each task done.
			</div>
			</h4>

		</div>

</div>

</body>
</html>