
/**/

footer {
	background-color: #333;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px black;	
}

.fp {
	text-shadow: 3px 2px 3px black;
	text-align: center;
	color: white;
}

h1 {
	font-size: 9vh;
}

h2 {
	font-size: 6vh;
}

h3 {
	font-size: 3vh;
}

h4 {
	font-size: 2vh;
}

h5 {
	font-size: 1.5vh;
}

h6 {
	font-size: 1vh;
}


.home-btn {
	width: 200px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin: 7px;
	padding: 15px 20px 5px 20px;
	background-color: #1f77f2;
	border-color: black;
}

.home-btn:hover {
	background-color: #FD0B31;
	border-color: white;
}

.nav-btns {
	padding-left: 25px;
	padding-right: 25px;
}

div {
	text-align: center;
}

form {
	text-align: center;
}

nav {
	height: 5vh; 
	margin: 0;
	padding: 0;
	background-color: #1f77f2;
}

.background {
	background: image-url('background.jpg');
	/*background-image: url("https://static.pexels.com/photos/27665/pexels-photo-27665.jpg");*/
	background-size: cover;
	height: 95vh;
	margin: 0;
	padding: 0;
}

.login {
	background-image: image-url('login.jpg');
	background-size: cover;
	height: 100vh;
}

.company {
	background-image: url(/assets/company.jpg);
	background-size: cover;
	height: 100vh;
}

.contact {
	background-image: url(/assets/contact.jpg);
	background-size: cover;
	height: 100vh;	
}

.purpose {
	background-image: url(/assets/purpose.jpg);
	background-size: cover;
	height: 100vh;
}

.submit {
	background-image: url(/assets/submit.jpg);
	background-size: cover;
	height: 100vh;
}

.content {
	position:relative;
	top: 40px;
}

.navbar {
	margin-bottom: 0;
}

.how {
	background-color: #4286f4;
}

.donedeal-logo {
	padding-left: 50px;
	padding-right: 25px;
}

.form {
	color: white;
	text-shadow: 1px 1px 1px black;	
}

.done {
	color: #1f77f2;
}

.deal {
	color: #FD0B31;
}

.inline {
	display: inline;
}

.boxstyle {
	background-color: #DAE4F2;
	text-align: left;
	margin: 5px;
	margin-left: 10px;
	left: 5px;
}

.convo {
	border-bottom: 1px black solid;	
	text-align: left;
	padding: 20px 10px 20px 50px;
	margin: 30px 10px 30px 10px;
}